*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    /* overflow: hidden; */
    background: white;
}

.mode_tog{
    background: black;
    position: absolute;
    right: 1.5%;
    top: 2%;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    z-index: 2;
    top: 1.3s;
    border-radius: 50%;
}

.mode_tog.active{
    background: white;
    top: 1.3s;
}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1.5%;
    top: 2%;
    width: 2vw;
    height: 2vw;
}

.dark_mode{
    position: relative;
    transform: scale(0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250vw;
    height: 250vw;
    border-radius: 50%;
    background: #161616;
    transition: 1.3s ease-in-out;
    display: flex;
    flex: 0 0 auto;
}

.dark_mode.active{
    transform: scale(1);
    transition: 1.3s ease-in-out;
}

h2 {
    color: white;
    mix-blend-mode: difference;
    transform: translateX(-50%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
    .dark_mode{
        /* width: 250vh; */
        /* height: 250vh; */
    }
    .mode_tog{
        width: 7vw;
        height: 7vw;
    }
}