.LangSelect{
    width: 6%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    left: 92%;

}
.LangBtn, .LangBtnCls{
    width: 100%;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0);
    color: var(--white);
}
.LangBtn i, .LangBtnCls i{
    margin-left: 6%;
}
.LangBtnCls{
    display: none;
}
.LangList{
    transform: scale(0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--black);
    padding: 10%;
    top: 170%;
    border-radius: 10%;
}
.LangList button{
    background-color: rgba(0, 0, 0, 0);
    color: var(--white);
    font-size: 1.4vw;
    width: 100%;
    margin: 2% 0;
}

@media screen and (max-width:600px) {
    .LangSelect{
        width: 30%;
        left: 10%;
    }
    .LangBtn, .LangBtnCls{
        font-size: 6vw;
    }
    .LangList{
        padding: 10% 5%;
    }
    .LangList button{
        font-size: 5.4vw;
        margin: 5% 0;
        cursor: default;
    }
}