*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .7s;
}
ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  cursor: default;
}
button, select, input, textarea{
  border: none;
  outline: none;
  cursor: pointer;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   overflow-y: scroll;
  overflow-x: hidden;
}
:root{
  --white: #FFF;
  --black: #062033;
  --gray: rgb(226, 226, 226);
  --grey: #6a737b;
  --lime: #0eb493;
  --white-gray: rgb(241, 241, 241);
}
.toUpSide{
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  position: fixed;
  padding: 1% 1.7%;
  right: 2%;
  bottom: 3%;
  font-size: 2.4vw;
  color: var(--white);
  color: #0feb9e;
}

@media screen and (max-width: 600px) {
  .toUpSide{
    cursor: default;
    padding: 3% 5%;
    font-size: 7vw;
    right: 4%;
    bottom: 3%;
  }
}